# Ignore directories
/AppData/
/Local Settings/
/Windows/
/System32/

# Ignore files
Thumbs.db
desktop.ini
# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/
